body {
    font-family: "Meera Inimai";
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    scrollbar-face-color: blue;
}

h1, h2, h3 ,h4, h5, h6 {
    margin: 0;
}

.post-img {
    border-radius: 8px;

    @media (min-width: 1024px) {
        border-radius: 12px;
    }
}

.post-page-grid {
    padding: 0 10px;
    display: grid;
    grid-template-columns: 1fr;
    padding: 24px 0 0 0;

    @media (min-width: 1024px) {
        grid-template-columns: 3fr 1fr;
        padding: 24px 16px 16px 48px;
    }

    h1 {
        margin: 16px 0;
    }

    .content-wrapper {
        padding: 0 16px;

        @media (min-width: 1024px) {
            padding: 0 24px;
        }
    }
}