$primary-color: #064c31; //#3ac559;
$secondary-color: #0A7B4F;
$title-color: #076c45;
$text-color-white: white;
$subtitle-color: rgb(168, 167, 167);
$text-link-color: rgb(232, 74, 47);
$thumbnail-link-color: rgb(167, 164, 164);


$color-black: #000;
$color-white: #FFF;