@import './colors';

.categories-container {
    padding: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    & .hero-wrapper {
        margin: 16px 0;
        width: 100%;

        @media (min-width: 740px) {
            margin: 16px;
            width: 500px;
        }

        & .post-title {
            font-size: 22px;
        }

        & .post-subtitle {
            padding-bottom: 16px;
        }
    }
}

.category-title {
    text-align: center;
    font-size: 24px;
    color: $primary-color;

    @media (min-width: 720px) {
        font-size: 32px;
    }
}