@import './colors';

.footer-container {
    min-height: 100px;
    background-color: $primary-color;
    color: $text-color-white;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    a {
        color: $text-color-white;
        text-decoration: none;
    }
}