@import './colors';

.header-icon {
    z-index: 10002;
}

.page-header {
    background-color: $secondary-color !important;
}

.header-container {

    .logo-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row-reverse;
        padding: 16px;
    }

    .site-name {
        flex-grow: 1;
        text-align: center;
        font-size: 32px;
        letter-spacing: 5px;
        font-family: fantasy;
        display: block;
        text-decoration: none;
        color: $color-white;

        &:active {
            color: $color-white;
        }

        &:visited {
            color: $color-white;
        }
    }
}