@import './colors';

.hero-wrapper {
    position: relative;

    img {
        border-radius: 8px;

        @media (min-width: 1024px) {
            border-radius: 12px;
        }
    }

    h1 {
        font-size: 24px;
        letter-spacing: 1.5px;
        font-weight: normal;
        @media (min-width: 720px) {
            font-size: 32px;
        }
    }

    .post-content-wrapper {
        position: absolute;
        top: 40%;
        bottom: 0;
        background-color: #0c0c0c70;
        padding: 20px;
        color: white;
        text-transform: uppercase;
        font-size: 20px;
        border-radius: 4px;
        width: calc(100% - 39px);
        font-size: 28px;
        border-end-start-radius: 8px;
        border-end-end-radius: 8px;

        @media (min-width: 720px) {
            font-size: 48px;
            top: 55%;
        }

        & .post-subtitle {
            font-size: 16px;
            margin-left: 8px;
            margin-top: 16px;

            @media (min-width: 720px) {
                font-size: 20px;
            }
        }

        & .post-category {
            margin-left: 20px;
            background-color: white;
            padding: 8px;
            border-radius: 8px;
            font-size: 16px;
            color: black
        }
    }
}

.thumbnail-credit-wrapper {
    padding: 8px 0;
    color: $thumbnail-link-color;

    a {
        color: $thumbnail-link-color;
        text-decoration: none;
    }
}