@import './_colors';

.post-list-container {
    margin-top: 25px;
    position: relative;

    .post-category-title {
        font-size: 24px;
        padding: 16px;
        display: block;
        text-align: center;
        color: $primary-color;
       
        &::after {
            content: '';
            position: absolute;
            height: 2px;
            left: 50%;
            width: 10%;
            display: block;
            background-color: $secondary-color;
            transform: translate(-50%);
            margin-top: 4px;
            margin-bottom: 16px;
        }

        @media (min-width: 740px) {
            font-size: 32px;

            &::after {
                width: 5%;
            }
        }
    }
}