@import './colors';

.image-card-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 2rem;

    .image-card {
        max-width: 400px;
        border-radius: 8px;

        @media (min-width: 720px) {
            max-width: 350px;
        }
    
        img {
            border-start-end-radius: 8px;
            border-start-start-radius: 8px;
            min-height: 240px;
        }
    
        a {
            text-decoration: none;
        }
    
        .post-publishedDate {
            font-size: 14px;
            color: $subtitle-color;
            margin-right: 8px;
        }

        .post-readTime {
            background-color: $secondary-color;
            padding: 4px 8px;
            color: $text-color-white;
            border-radius: 4px;
        }
    
        .post-title {
            font-size: 22px;
            margin-top: 8px;
            min-height: 70px;
            color: $primary-color;
        }
    }
}
