.category-card-link {
    text-decoration: none;
    color: inherit;
    margin: 8px;
    min-width: 350px;
    max-width: 350px;
}

.list-card-header {
    span {
        font-family: inherit;

        &:last-child {
            margin-top: 16px;
            padding-left: 4px;
        }
    }
}

.card-container {
    width: calc(100% / 3);

    img {
        width: 100%;
        max-height: 200px;
    }
}