@import './colors';

.navbar {
    margin-top: 50px;
    height: 100vh;
    overflow: scroll;

    .siteLogo {
        height: 250px;
        width: 250px;
    }

    .logo-wrapper {
        display: flex;
        justify-content: center;
    }

    @media (min-width: 720px) {
        height: 75vh;
        display: flex;
    }

    .nav-list-title {
        font-size: 24px;
        padding: 16px;
        color: $primary-color;

        @media (min-width: 720px) {
            font-size: 28px;
        }
    }

    .nav-list-accordion {
        box-shadow: none;
        padding-left: 0;

        .accordion-title {
            padding-left: 0;
            color: $secondary-color;
            font-size: 22px;
        }
    }
    
    ul {
        list-style: none;
        a {
            text-decoration: none;
            font-size: 22px;
            color: $secondary-color;
            
            li {
                margin-top: 16px;
            }
        }
    }

    
}