@import './colors';

.simple-list-heading {
    font-size: 24px;
    font-weight: bold;
    color: $primary-color;
}

.simple-list-wrapper {
    margin: 16px 0;
}

.posts-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    @media (min-width: 1024px) {
        justify-content: left;
    }

    .simple-list {
        display: flex;
        margin: 8px;
        min-width: calc(100% - 32px);
        max-width: calc(100% - 32px);
        min-height: 150px;
        transition: all 0.5s;

        @media (min-width: 720px) {
            min-width: 425px;
            max-width: 425px;
        }
    }

    a {
        color: $color-black;
        text-decoration: none;
    }

    .post-title {
        color: $primary-color;
    }

    .post-subtitle {
        font-size: 14px;
        color: $secondary-color;
        margin-top: 8px;
    }
}