.table-of-contents-wrapper {
    margin-top: 16px;
    padding: 16px;
    display: flex;
    flex-direction: column;

    & .title {
        font-size: 28px;
    }

    & a {
        text-decoration: none;
        margin-left: 16px;
        margin-bottom: 8px;
        transition: all 0.5s;
    }
}